[*]
indent_style = tab

[*.cs]
dotnet_qualification_for_event = true:suggestion
dotnet_qualification_for_field = true:suggestion
dotnet_qualification_for_method = true:suggestion
dotnet_qualification_for_event = true:suggestion