[*]
indent_style = space
end_of_line = lf

[*.{csproj,xml,json}]
indent_style = space

[*.cs]
dotnet_style_qualification_for_event = true:silent
dotnet_style_qualification_for_field = true:silent
dotnet_style_qualification_for_method = true:silent
dotnet_style_qualification_for_property = true:silent
dotnet_style_prefer_conditional_expression_over_return = true
dotnet_style_null_propagation = true:silent
dotnet_style_object_initializer = true:silent
dotnet_style_explicit_tuple_names = true:silent
dotnet_style_prefer_auto_properties = true:silent